body {
    background-image: url('https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    backdrop-filter: blur(3px);
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

h1 {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

h2 {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.numbers {
    display: flex;
    justify-content: center;
}

.numbers {
    margin-top: 50px;
}

#inputMinutes {
    border: 2px solid white;
    text-align: center;
    font-size: 90px;
    height: 120px;
    width: 120px;
    border-radius: 36px;
    background: #e0e0e0;
    box-shadow: inset 11px 11px 22px #a6a6a6,
            inset -11px -11px 22px #ffffff;
}

#seconds {
    border: 2px solid white;
    margin: 2px;
    text-align: center;
    font-size: 95px;
    height: 120px;
    width: 120px;
    border-radius: 36px;
    background: #e0e0e0;
    box-shadow: inset 11px 11px 22px #a6a6a6,
            inset -11px -11px 22px #ffffff;
}

#min {
    border: 2px solid white;
    margin: 2px;
    text-align: center;
    font-size: 95px;
    height: 120px;
    width: 120px;
    border-radius: 36px;
    background: #e0e0e0;
    box-shadow: inset 11px 11px 22px #a6a6a6,
            inset -11px -11px 22px #ffffff;
    display: none;

}

.signo {
    font-size: 100px;
    margin: 0;
}

.palabra {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
}

#start, #clear {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 40px;
    font-weight: bold;
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
}


